<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar albaranes</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <h1>EDITAR ALBARANES</h1>
    <table border style="text-align: center;">
        <thead>
           <tr>
               <th>NºAlbaran</th>
               <th>ID Producto</th>
               <th>Cantidad de productos</th>
               <th>Proveedor</th>
               <th>Fecha de creacion</th>
               <th>Usuario</th>
           </tr>
       
        </thead>
        <tbody>
           {% for albaran in albaranes %}
           <tr>
               <td>{{albaran.id_albaran}}</td>
               <td>{{albaran.id_producto}}</td>
               <td>{{albaran.cantidad_pedido}}</td>
               <td>{{albaran.proveedor}}</td>
               <td>{{albaran.fecha_creacion}}</td>
               <td>{{albaran.usuario}}</td>
           </tr>
           {% endfor %}
        </tbody>
       </table>

    <h1>Editar albaran</h1>
    <form method="post" >
        <label > NºAlbaran a editar: {{form.id_albaran}}</label>
        <label >ID producto: {{form.id_producto}}</label>
        <label>Cantidad de productos {{form.cantidad_pedido}}</label>
        <label >Fecha de creacion <input placeholder="No se puede modificar" type="date" disabled></label>
        <label>Usuario {{form.usuario}}</label>

        <button type="submit">modificar</button>
    </form>

    <h2><span style="color: red;">ADVERTENCIA:</span> La edicion de albaranes solo afectara su registro NO a la cantidad de productos ni el tipo de producto pedido </h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% set category, message = messages[0] %}
        <div >{{ message }}</div>
    {% endif %}
    {% endwith %}
</body>
</html>