<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Albaranes</h1>
    <table border style="text-align: center;">
        <thead>
           <tr>
               <th>NºAlbaran</th>
               <th>ID Producto</th>
               <th>Cantidad de productos</th>
               <th>Proveedor</th>
               <th>Fecha de creacion</th>
               <th>Usuario</th>
           </tr>
       
        </thead>
        <tbody>
           {% for albaran in albaranes %}
           <tr>
               <td>{{albaran.id_albaran}}</td>
               <td>{{albaran.id_producto}}</td>
               <td>{{albaran.cantidad_pedido}}</td>
               <td>{{albaran.proveedor}}</td>
               <td>{{albaran.fecha_creacion}}</td>
               <td>{{albaran.usuario}}</td>
           </tr>
           {% endfor %}
        </tbody>
       </table>

    <h1>Generar nuevo albaran</h1>
    <form method="post" >
        <label >Producto {{form.producto}}</label>
   
        <label >Cantidad {{form.cantidad}}</label>
        <button type="submit">Enviar</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% set category, message = messages[0] %}
        <div >{{ message }}</div>
    {% endif %}
     {% endwith %}

 
</body>
</html>