<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <h1>Ciclo de vida de un producto</h1>
    <div>
        
        <button><a href="/productos">Productos</a></button>
        <button><a href="/albaranes">Albaranes</a></button>
        <button><a href="/facturacion">Facturacion</a></button>
        
    </div>
</body>
</html>
