<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div style="
    display: flex;
    justify-content: space-between;
    width: 100%;">
        <button><a href="/facturacion">⬅Facturacion</a></button>  <button><a href="/albaranes">Albaranes➡</a></button>
    </div>
    <h1>PRODUCTOS</h1>
    <hr style="width: 100%;">

    <h2>CREA UN PRODUCTO:</h2>
    <form method="post">
        
        {{ form.hidden_tag() }}
        <label >Nombre {{form.nombre}}</label>
        <label >Descripcion {{form.descripcion}}</label>
        <label >Precio Und. {{form.precio_unitario}}</label>
        <button style="padding: 0.5rem 1rem;" type="submit">Crear</button>
    </form>

    <table border style="text-align: center;">
     <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Descripcion</th>
            <th>Prec.Und</th>
        </tr>
    
     </thead>
     <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{producto.id_producto}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.cantidad}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.precio_unitario}}€</td>

        </tr>
        {% endfor %}
     </tbody>
    </table>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% set category, message = messages[0] %}
        <div >{{ message }}</div>
    {% endif %}
     {% endwith %}
     <div style="
     display: flex;
     width: 100%;">
        <button disabled>Editar</button>  
        <button disabled>Borrar</button>
     </div>
     <p><i>Queda deshabilitado el editado y borrado de los productos debido a que otras tablas dependen de estos identificadores y podria romper el sistema</i></p>

</body>
</html>